@import "~bootstrap-icons/font/bootstrap-icons.css";

#add-album-col {
  height: 90vh;
  width: fit-content;
  padding: 2em;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}
#p-c-icon {
  scale: 3;
}

.options-list {
  padding-left: 1.2em;
}
.options-list button {
  font-size: 2em;
}
